body{
    background-color: black;
    color: white;
}
.statico{
    width: 60px;
    height: 60px;
    background-color: skyblue;
}
/*
.movido{
    transform: translate(10px,10px); /* Igual a translateX(10px) 
    background-color: pink;
}
*/
#gancho{
    background-color: rgb(51, 15, 77);
    border-radius: 4px;
}
#bolinha{
    background-color:#ffffff; 
    width:50px; 
    height:50px; 
    border-radius:50%; 
    position:absolute;
}   
#bolinha2{
    background-color:#f802cf; 
    width:50px; 
    height:50px; 
    border-radius:50%; 
    position:absolute;
} 
#livre{
    background-color:#02e4f8; 
    width:10px; 
    height:10px; 
    border-radius:50%; 
    position:absolute;
} 