body{
    background-color: black;
}
#gancho{
    background-color: rgb(51, 15, 77);
    border-radius: 4px;
}
#bolinha{
    background-color:#ffffff; 
    width:50px; 
    height:50px; 
    border-radius:50%; 
    position:absolute;
}   
#bolinha2{
    background-color:#f802cf; 
    width:50px; 
    height:50px; 
    border-radius:50%; 
    position:absolute;
} 